{% extends 'blog/base.html' %}
{% block content %}
<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-md-12 col-sm-12">
        <a href="/" class="back-to-all">
            Все новости
        </a>
        <div class="clearfix"></div>
            <section class="news-detail section">
                <div class="section-inner">
                    <div class="content">
                        <div class="item">
                        <div class="news-detail-header">
                            <h3 class="title">{{ post.title }}</h3>
                            {% if post.published_date %}
                                <span class="date">{{ post.published_date }}</span>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <a class="edit-post-tag" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                            {% endif %}
                        </div>
                            {% if post.image %}
                                    <img src="{{ MEDIA_URL }}{{ post.image.url }}" class="post-img">
                                {% endif %}
                            <p class="summary">{{ post.text|linebreaksbr }}</p>
                            {% for comment in post.comments.all %}
                                {% if user.is_authenticated or comment.approved_comment %}
                                <div class="comment">
                                    <span class="date">{{ comment.created_date }}
                                        {% if not comment.approved_comment %}
                                            <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                                            <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                                        {% endif %}    
                                    </span>
                                    <p>{{ comment.text|linebreaks }}</p>
                                    <span><b>{{ comment.author }}</b></span>
                                </div>
                            {% endif %}
                            {% empty %}
                                <p><b>No comments here yet :(</b></p>
                            {% endfor %}
                            <a href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>    
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}