            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                 <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Основная информация</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-map-marker"></i>Киев, Украина</li>
                                <li><i class="fa fa-envelope-o"></i><a href="#">anelyaantonova@gmail.com</a></li>
                                <li><i class="fa fa-link"></i><a href="#">http://anelya.pythonanywhere.com/</a></li>
                            </ul>
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//aside-->
                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">My skills</h2>
                        <div class="content">
                            <div class="skillset">
                                <div class="item">
                                    <h3 class="level-title">Python &amp; Django<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info...">Beginner</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="40%">
                                        </div>                                      
                                    </div>                                
                                </div>
                                <div class="item">
                                    <h3 class="level-title">Javascript &amp; jQuery<span class="level-label">Skilled</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="50%">
                                        </div>                                      
                                    </div>                               
                                </div>
                                <div class="item">
                                    <h3 class="level-title">HTML5, CSS3<span class="level-label">Skilled</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="65%">
                                        </div>                                      
                                    </div>                           
                                </div>
                                <div class="item">
                                    <h3 class="level-title">Bitrix 1C<span class="level-label">Skilled</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="50%">
                                        </div>                                      
                                    </div>                                 
                                </div>
                            </div>              
                        </div> 
                    </div>               
                </aside>                
                <aside class="education aside section">
                    <div class="section-inner">
                        <h2 class="heading">Образование</h2>
                        <div class="content">
                            <div class="item">                      
                                <h3 class="title"><i class="fa fa-graduation-cap"></i> ФК Истории и искусств </h3>
                                <h4 class="university">Костанайский Государственный Педагогический университет <span class="year">(2014-2016)</span></h4>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title"><i class="fa fa-graduation-cap"></i> Technology Nation </h3>
                                <h4 class="university">BrainBasket Foundation <span class="year">(Summer, 2017)</span></h4>
                            </div><!--//item-->
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->   
                <aside class="languages aside section">
                    <div class="section-inner">
                        <h2 class="heading">Языки</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li class="item">
                                    <span class="title"><strong>English: </strong></span>
                                    <span class="level"> Intermediate <br class="visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                                </li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                <aside class="list music aside section">
                    <div class="section-inner">
                        <h2 class="heading">Coding music</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-headphones"></i> <a href="#">Metallica</a></li>
                                <li><i class="fa fa-headphones"></i> <a href="#">Aerosmith</a></li>
                                <li><i class="fa fa-headphones"></i> <a href="#">Muse</a></li>
                                <li><i class="fa fa-headphones"></i> <a href="#">Eminem</a></li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
            </div><!--//secondary--> 