
<!-- Profile menu-->
<div class="col-md-4 without-padding">
  <div class="w3-card-2 w3-margin w3-margin-top">
    <img src="/static/img/O4VRtnGLF24.jpg" class="profile-img">
    <div class="wrap w3-white">
      <h4><b>My Name</b></h4>
      <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
    </div>
  </div>
<hr>
  <!-- Tags -->
  <div class="w3-card-2 w3-margin">
    <div class="wrap w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="wrap w3-white">
    <p><span class="w3-tag w3-margin-bottom">Coding</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Love</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Web</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Cats</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Travel</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Books</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Games</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">YouTube</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Music</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
    </p>
    </div>
  </div>
</div>
<!-- END Profile menu--> 
