body {
	margin: 0;
}
a {
	text-decoration: none !important;
	outline: none !important;
	color: #000000;
}
a:hover, a:focus {
	text-decoration: none !important;
	outline: none !important;
	color: #000000;
}