h1,h2,h3,h4,h5 {
	font-family: "Raleway", sans-serif
}
html {
	min-height: 100%;
    position: relative;
}
body {
	margin: 0;
	font-weight: 400;
	color: #000000;
	background-color: #f1f1f1;
	font-family: "Raleway", sans-serif;
	position: relative;
    min-height: 100%;
}
header {
	text-align: center;
	padding: 32px 15px;
}
.row {
	margin: 0 !important;
}
.wrap {
	padding: 0.01em 15px;
}
.without-padding {
	padding: 0;
}
.content {
	max-width: 1400px;
	width: 100%;
	margin: auto;
}
a {
	text-decoration: none !important;
	outline: none !important;
	color: #000000;
}
a:hover, a:focus {
	text-decoration: none !important;
	outline: none !important;
	color: #000000;
}
.profile-img {
	width: 100%;
	max-width: 768px;
}
.post-img {
	width: 100%;
}
.post-block {
	background-color: #fff;
	margin: 15px;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
.comment {
	margin: 20px;
}